<nav class="navbar">

    <div>
        <ul>
            <li>
                <!-- <button onclick="window.location.href='home.html'">Home</button> -->
                <button class="urls" ><a  class="link"   href="{% url 'app_home' %}">Home</a></button>
            </li>
            <li>
                <!-- <button onclick="window.location.href='about.html'">About</button> -->
                <button class="urls" ><a  class="link"   href="{% url 'app_about' %}" target="_blank">About</a></button>
            </li>
            <li>
                <!-- <button onclick="window.location.href='ProjectCode.html'">Code </button> -->
                <button class="urls" ><a  class="link"   href="{% url 'app_code' %}" target="_blank">Code</a></button>
            </li>
            <li>
                <!-- <button onclick="window.location.href='more.html'">More</button> -->
                <button class="urls" ><a  class="link"   href="{% url 'app_more' %}" target="_blank">More</a></button>

            </li>
        </ul>
    </div>
</nav>








