<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guid</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">

        <div>
            <ul>
                <li>
                    <button onclick="window.location.href='home.html'">Home</button>
                </li>
                <li>
                    <button onclick="window.location.href='about.html'">About</button>
                </li>
                <li>
                    <button onclick="window.location.href='ProjectCode.html'">Code Url</button>
                </li>
                <li>
                    <button onclick="window.location.href='more.html'">More</button>
                </li>
            </ul>
        </div>
    </nav>

    <section>
        <article>
            <h1 class="about_h1">About this project</h1>

            <p class="description_about">Open Source Project Simple Website Based or powered by Python Library</p>
            <p class="description_about">That guess or gives the gamer a hero nickname.</p>

          </article>




    </section>


</body>

</html>