<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Hero!</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <nav class="navbar">

        <div>
            <ul>
                <li>
                    <button onclick="window.location.href='templates/home.html'">Home</button>
                </li>
                <li>
                    <button onclick="window.location.href='templates/about.html'">About</button>
                </li>
                <li>
                    <button onclick="window.location.href='templates/ProjectCode.html'">Code </button>
                </li>
                <li>
                    <button onclick="window.location.href='templates/more.html'">More</button>
                </li>
            </ul>
        </div>
    </nav>
    
        <h2 class="h_2">" Best, efficient and Funny; <span>Heroes</span> Nicknames Generator "</h2>

    <div class="generat"></div>
    <form>
        <h1 class="h1">Enter Your Email Here Please:</h1>
        <input placeholder="@exemple.com" type="email" id="email" name="email" class="inp">
    </form>
    </div>
    <div class="generat_button"></div>
    <form>
        <button name="Generate My Hero Name" class="submit_inp" >Generate Name</button>
        <!-- <input type="submit" id="Generate My Hero Name" name="Generate My Hero Name" class="submit_inp"> -->
    </form>
    </div>


</body>

</html>