{% extends "base.html" %}

{% block title %}Welcome Heor!{% endblock title %}

{% block content %}
    <h2 class="h_2">" Best, efficient and Funny; <span>Heroes</span> Nicknames Generator "</h2>

    <div class="generat"></div>
            <form>
                <h1 class="h1">Enter Your Email Here Please:</h1>
                <input placeholder="exemple@gmail.com" type="email" id="email" name="email" class="inp">
            </form>
    </div>
    <div class="generat_button"></div>
            <form>
                <button name="Generate My Hero Name" class="submit_inp">Generate Name</button>
            </form>
    </div>

{% endblock content %}