{% extends "base.html" %}
{% load static%}

{% block title %}@Aoumjahde{% endblock title %}

<!-- {% block content %} -->

    <div class="container">
        <div class="my_full_name">
            <p class="full-name">Abdelaziz <span class="Last-name">Oumjahde</span></p>
        </div>

        <div class="my_work_resume">
            <p class="description">I’m a Software Engineering Student who want to specialized in web <br>
                Technologies with a huge passion for automation.
                <br>I'm passionate about software engineering robotics and everything in-between. <br>
            </p>
        </div>

    </div>
<!-- {% endblock content %} -->

